<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>A Visual Narrative of the US Urban Growth</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

      <h1> <i> "From manufacturing belt, to rust belt, to college
              country" </i></h1>
      <h2> A Visual Narrative of the US Urban Growth </h2>

                <h2><center> <a href="http://darribas.org">[Dani Arribas-Bel</a> & 
        <a href="https://sites.google.com/site/michielgerritse/"> Michiel
            Gerritse]</a></h2></center>

        <h1> Results and code </h1>

        <ul>
          <li><a href="index.html"><strong>About</strong></a></li>
          <li><a href="data_prep.html"><strong>Data preparation</strong></a></li>
          <li><a href="results.html"><strong>Visualizations</strong></a></li>
          <li><a
              href="https://github.com/darribas/belts"><strong>Repository</strong></a></li>
        </ul>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Theme inspired by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
 
  </body>
</html>
